<a href="https://colab.research.google.com/github/Akash-Kharat/Pytone/blob/master/Copy_of_Copy_of_Assignemnt_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Assignment 3
1. Assign the value to the variables of different data types and display the results with its data type.
2. Assign the integer value to the variable and convert it to floating point and complex, also assign the floating point value to the variable and convert it into integer and complex.
3. Let x= 18 and yÂ = 6  and perform the bitwise operations
4. How to display the file/folder path - D:\Information\data\program
5. Consider the list  a=[2,3,4,7]  and do the following:- i) Display ['hi',2,3,4,7] ii) Repeat the list thrice 
6. Consider the list x=[12,5,15,9,10,4] and obtain length, minimum element,maximum element, sum of the list, also sort the list in ascending order.

1. Assign the value to the variables of different data types and display the results with its data type.

In [ ]:
a=5
b=10.9
c={1,2,3}
d="Akash"
e=[2,"bb",6.3]
f=10+5j
print(a, type(a))
print(b, type(b))
print(c, type(c))
print(d, type(d))
print(e, type(e))
print(f, type(f))

5 <class 'int'>
10.9 <class 'float'>
{1, 2, 3} <class 'set'>
Akash <class 'str'>
[2, 'bb', 6.3] <class 'list'>
(10+5j) <class 'complex'>

2. Assign the integer value to the variable and convert it to floating point and complex, also assign the floating point value to the variable and convert it into integer and complex.

In [ ]:
x=11
print(float (x))
print(complex (x))
y=21.9
print(int (y))
print(complex (y))

11.0
(11+0j)
21
(21.9+0j)

3. Let x= 18 and y = 6 and perform the bitwise operations

In [ ]:
x=18
y=6
print("ANDing", (x & y), "ORing", (x^y),"NOT x" , ~x,"NOT y", ~y, "XORing", (x|y))
print("Right shift x is ", x>>2 ,"left shift y is ", y<<2)

ANDing 2 ORing 20 NOT x -19 NOT y -7 XORing 22
Right shift x is  4 left shift y is  24

4. How to display the file/folder path - D:\Information\data\program

In [ ]:
print("D:\\Information\\data\\program")

D:\Information\data\program

5. Consider the list a=[2,3,4,7] and do the following:- i) Display ['hi',2,3,4,7] ii) Repeat the list thrice

In [ ]:
a=[2,3,4,7]
a.insert(0,"hi")
print(a)
print(a*3)

['hi', 2, 3, 4, 7]
['hi', 2, 3, 4, 7, 'hi', 2, 3, 4, 7, 'hi', 2, 3, 4, 7]

6. Consider the list x=[12,5,15,9,10,4] and obtain length, minimum element,maximum element, sum of the list, also sort the list in ascending order.

In [ ]:
x=[12,5,15,9,10,4]
print("length",len(x))
print("minimum",min(x))
print("maximum",max(x))
print("sum",sum(x))
print("sorted list", sorted(x))

length 6
minimum 4
maximum 15
sum 55
sorted list [4, 5, 9, 10, 12, 15]